<div class="jumbotron text-white text-center">
  
</div>
<div class="">
  <%= @church.vision %>
</div>



<%= link_to "Edit", edit_church_url %>
<%= button_to "Delete", church_path(@church), method: :delete %>
